.group-item {
  .group-title {
    color: #849492;
    font-size: 12px;
    padding: 0.25em 0;
  }
  .link-list {
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2em;
      box-sizing: border-box;
      padding-left: 1em;
      font-size: 14px;
      &.router-link-active {
        background-color: #fff;
        font-weight: 700;
        color: #2faa9e;
        border-radius: 9999px 0 0 9999px;
        position: relative;
        box-shadow: 0px 0px 10px rgba(50, 114, 108, 0.187);
      }
    }
  }
}
